<%- include('header') %>
<body>
    <h2>Files:</h2>
    <ul>
      <% files.forEach(function(file) { %>
        <li>
          <span>Name: <%= file.name %></span>
          <br>
          <span>Size: <%= (file.size / 1024).toFixed(2) %> KB</span>
          <br>
          <img src="https://storage.googleapis.com/bucketforsismul/<%= file.name %>" alt="<%= file.name %>">
        </li>
      <% }); %>
    </ul>
</body>
</html>
